<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  
    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    
    <link rel="shortcut icon" href="/static/assets/images/favicon.png" />
    <link rel="canonical" href="#" />
    <!-- XDSoft DateTimePicker -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
      integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y="
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
      integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk="
      crossorigin="anonymous"
    ></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <title>Retos - {% block title %}{% endblock %} | AppSeed</title>

    <link
      rel="stylesheet"
      href="/static/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/iconfonts/ionicons/dist/css/ionicons.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/css/vendor.bundle.base.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/css/vendor.bundle.addons.css"
    />

    <link rel="stylesheet" href="/static/assets/css/shared/style.css" />
    <link rel="stylesheet" href="/static/assets/css/demo_1/style.css" />
    <link rel="stylesheet" href="/static/assets/css/demo_1/button.css" />

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}
  </head>
  <body>
  <script src="{% static 'assets/js/bootstrap.js' %}"></script>
  <script src="{% static 'assets/js/jquery.js' %}"></script>
  <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
  <!-- You can alternatively load the minified version -->
  <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    <div class="container-scroller">
      {% include 'includes/navigation.html' %}

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        {% include 'includes/sidebar.html' %}

        <!-- partial -->
        <div class="main-panel">
          {% block content %}{% endblock content %} {% include 'includes/footer.html' %}
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    {% include 'includes/scripts.html' %}

    <!-- Specific JS goes HERE -->
    {% block javascripts %}
    <script type="text/javascript">
    </script>
    {% endblock javascripts %}
    
  </body>
</html>
