{% extends "layouts/base.html" %} {% block title %} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="content-wrapper">
  <!-- Page Title Header Starts-->
  <div class="row page-title-header">
    <div class="col-12">
      <div class="page-header">
        <h4 class="page-title">Retos</h4>
        <div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
          <ul class="quick-links">
            <li><a href="#">Buscador</a></li>
            <li><a href="#">Mi personal</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="content-wrapper">
    <!-- Page Title Header Starts-->
    <div class="row page-title-header">
      <div class="col-12">
        <div class="page-header">
          <h4><a href="/create_copy">Add Empleado</a></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck">
    {% for empleados in empleados %}
    <div class="card">
      <div class="card-body">
        <h4>
          <a href="/ver_reto/{{empleados.id}}/"
            >{{ empleados.apellido }},{{ empleados.nombre }}</a>
            <div class="col-sm">
              <a href="/edit/{{empleados.id}}/"
              > <i class="fas fa-coffee"></i></a>
          
          </div>
        </h4>

        <div class="card-footer">
          <small class="text-muted">
            <p class="card-text">
              Movil:{{ empleados.telefono }}<br />
              Email: {{ empleados.email }}<br />
              Fecha Nacimiento: {{ empleados.fecha_nacimiento }}
            </p></small
          >
        </div>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="modal face" id="aggReto" role="dialog"></div>

  {% endblock content %}

  <!-- Specific JS goes HERE -->
</div>
