{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="content-wrapper">
  <!-- Page Title Header Starts-->
  <div class="row page-title-header">
    <div class="col-12">
      <div class="page-header">
        <h4 class="page-title">Retos</h4>
        <div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
          <ul class="quick-links">
            <li>
              <a href="#"
                >Buscador
                <p class="profile-name">{{ request.user.username }}</p></a
              >
            </li>
            <li><a href="#">Mi personal</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <div class="card-body">
      <div class="card-header">
        <a href="detail_empleado.html">Nombre Personal</a>

        <span
          id="imgContrasena"
          data-activo="false"
          class="glyphicon glyphicon-eye-open"
        ></span>
      </div>
      <p class="card-text">
        Movil: <br />
        Email: <br />
        Fecha Nacimiento: <br />
        Fecha Ult. Modificación: 23/04/2019
      </p>
    </div>
    <div class="card-footer text-muted">RETOS ACTIVOS: 0</div>
  </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %} {% endblock javascripts %}
